@(words:String,total:Long)


<html>

    <head><title>Words Statistics</title></head>


    <style>
            table, th , td {
                border: 1px solid grey;
                border-collapse: collapse;
                padding: 5px;
            }
            table tr:nth-child(odd) {
                background-color: #f1f1f1;
            }
            table tr:nth-child(even) {
                background-color: #ffffff;
            }
    </style>
    <body>
        <h1><b>Words Statistics</b></h1>

        <br>
        <b>Total Number of Unique Words : <t>@total</t></b>
        <br><br>


        <table>

            <tr>
                <td><b>S.No.</b></td>
                <td><b>Words</b></td>
                <td><b> Frequency</b></td>

            </tr>




            @for( (order,count) <-  words.trim().split(", ").zipWithIndex) {
                <tr>
                    <td>@(count+1)</td>

                    <td>@order.split("=").apply(0)</td>
                    <td>@order.split("=").apply(1)</td>
                </tr>
            }

        </table>
    </body>
</html>