@(words:String)


<html>

    <head><title>Words Statistics</title></head>


    <style>
            table, th , td {
                border: 1px solid grey;
                border-collapse: collapse;
                padding: 5px;
            }
            table tr:nth-child(odd) {
                background-color: #f1f1f1;
            }
            table tr:nth-child(even) {
                background-color: #ffffff;
            }
    </style>
    <body>
        <h1><b>Words Statistics</b></h1>

        <br>
        Total Number of Unique Words : <t>@words.length</t>
        <br><br>


        <table>

            <tr>
                <td>S.No.</td>
                <td>Words</td>
                <td>Word Size</td>

            </tr>



            @for( (order,count) <-  words.split(" ,").zipWithIndex) {
                <tr>
                    <td>@(count+1)</td>
                    <td>@order</td>
                    <td>@order.length</td>
                </tr>
            }

        </table>
    </body>
</html>