@(words:List[String])


<html>

    <head><title>Words Statistics</title></head>


    <style>
            table, th , td {
                border: 1px solid grey;
                border-collapse: collapse;
                padding: 5px;
            }
            table tr:nth-child(odd) {
                background-color: #f1f1f1;
            }
            table tr:nth-child(even) {
                background-color: #ffffff;
            }
    </style>
    <body>
        <h1><b>Words Statistics</b></h1>

        <table>

            <tr>
                <td>Word</td>
                <td>Frequency</td>
            </tr>

            @for( (order,count) <-  words.zipWithIndex) {
                <tr>
                    <td>@(count+1)</td>
                    <td>@order</td>
                </tr>
            }

        </table>
    </body>
</html>