@(image: String , uname: String,description: String , following: String, followers:String,t1:List[String])


<html>

    <head><title>User Profile</title></head>


    <style>
            table, th , td {
                border: 1px solid grey;
                border-collapse: collapse;
                padding: 5px;
            }
            table tr:nth-child(odd) {
                background-color: #f1f1f1;
            }
            table tr:nth-child(even) {
                background-color: #ffffff;
            }
    </style>
    <body>
        <h1><b>User's Profile</b></h1>

        <table>
            <tr><td>Profile Image</td><td><img src="@image" alt="User Image" height="100" width="100" ></td></tr>
            <tr>
                <td>Name</td>
                <td>@uname</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>@description</td>
            </tr>
            <tr>
                <td>Following</td>
                <td>@following</td>
            <tr>
                <td>Followers</td>
                <td>@followers</td>
            </tr>
            <tr> <button onclick="goBack()">Go Back</button>

                <script>
                        function goBack() {
                            window.history.back();
                        }
                </script></tr>

        </table>
        <br>
        <h1><b>User's Tweets</b></h1>
        <table>
            <tr>
                <td><b>S.No.</b></td>
                <td><b>Tweet Text</b></td>
            </tr>
            <tr>
                <td><b>1.</b></td>
                <td>@t1.get(0)</td>
            </tr>
            <tr>
                <td><b>2.</b></td>
                <td>@t1.get(1)</td>
            </tr>
            <tr>
                <td><b>3.</b></td>
                <td>@t1.get(2)</td>
            </tr>
            <tr>
                <td><b>4.</b></td>
                <td>@t1.get(3)</td>
            </tr>
            <tr>
                <td><b>5.</b></td>
                <td>@t1.get(4)</td>
            </tr>
            <tr>
                <td><b>6.</b></td>
                <td>@t1.get(5)</td>
            </tr>
            <tr>
                <td><b>7.</b></td>
                <td>@t1.get(6)</td>
            </tr>
            <tr>
                <td><b>8.</b></td>
                <td>@t1.get(7)</td>
            </tr>
            <tr>
                <td><b>9.</b></td>
                <td>@t1.get(8)</td>
            </tr>
            <tr>
                <td><b>10.</b></td>
                <td>@t1.get(9)</td>
            </tr>


        </table>
    </body>


</html>