@(image: String , uname: String,description: String , following: String, followers:String)


<html>

    <head><title>User Profile</title></head>


    <style>
            table, th , td {
                border: 1px solid grey;
                border-collapse: collapse;
                padding: 5px;
            }
            table tr:nth-child(odd) {
                background-color: #f1f1f1;
            }
            table tr:nth-child(even) {
                background-color: #ffffff;
            }
    </style>
    <body>

        <table>
            <tr><td>Profile Image</td><td><img src="@image" alt="User Image" height="100" width="100" ></td></tr>
            <tr>
                <td>Name</td>
                <td>@uname</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>@description</td>
            </tr>
            <tr>
                <td>Following</td>
                <td>@following</td>
            <tr>
                <td>Followers</td>
                <td>@followers</td>
            </tr>
            <tr> <button onclick="goBack()">Go Back</button>

                <script>
                        function goBack() {
                            window.history.back();
                        }
                </script></tr>
        </table>
    </body>


</html>