@(image: String , uname: String,description: String , following: String, followers:String,t1:List[String])


<html>

    <head><title>User Profile</title></head>


    <style>
            table, th , td {
                border: 1px solid grey;
                border-collapse: collapse;
                padding: 5px;
            }
            table tr:nth-child(odd) {
                background-color: #f1f1f1;
            }
            table tr:nth-child(even) {
                background-color: #ffffff;
            }
    </style>
    <body>
        <h1><b>User's Profile</b></h1>

        <table>
            <tr><td>Profile Image</td><td><img src="@image" alt="User Image" height="100" width="100" ></td></tr>
            <tr>
                <td>Name</td>
                <td>@uname</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>@description</td>
            </tr>
            <tr>
                <td>Following</td>
                <td>@following</td>
            <tr>
                <td>Followers</td>
                <td>@followers</td>
            </tr>
            <tr> <button onclick="goBack()">Go Back</button>

                <script>
                        function goBack() {
                            window.history.back();
                        }
                </script></tr>

        </table>
        <br>
        <h1><b>User's Tweets</b></h1>
        <table>
            <tr>
                <td><b>S.No.</b></td>
                <td><b>Tweet Text</b></td>
            </tr>

            @for( (order,count) <-  t1.zipWithIndex) {
                <tr>
                    <td>@(count+1)</td>
                    <td>@order</td>
        </tr>
}

        </table>
    </body>


</html>