@(text: List[String],text1: List[String], utext:List[String])

<!DOCTYPE html>
<html>

    <head><title>Tweet Words</title></head>


        <form action="/words?name=sname">
            <input type="text" name="sname" value="">

            <input type="submit" value="Search">
        </form>


        <style>
                table, th , td {
                    border: 1px solid grey;
                    border-collapse: collapse;
                    padding: 5px;
                }
                table tr:nth-child(odd) {
                    background-color: #f1f1f1;
                }
                table tr:nth-child(even) {
                    background-color: #ffffff;
                }
        </style>
        <body>
<br>
            <a href="/stats?words=@text1.toString">Words Statistics</a>
<br><br>
            <table >

                <thead ng-if="@text.length !=0">
                    <tr style="font-weight:bold" ><th align="center">S.No.</th>

                        <th>Tweet Text</th>


                    </tr>
                </thead>

                <tbody>
                    @for( (order,count) <-  text.zipWithIndex ) {

                        <tr >
                            <th>@(count + 1)</th>

                            <td>@order</td>


                        </tr>
                    }
                </tbody>

            </table>
        </body>
</html>